{% extends "base.html" %}
{% block content %}
<h1>At A Glance</h1>
{% for post in posts %}
<div><p><b>{{ post.city }}</b></p></div>
<div><p><b>Outlook: {{ post.overall }}</b></p></div>
<div><p><b>High - Low: {{ post.high_low }}</b></p></div>
<div><p><b>Current Temp: {{ post.temp }}</b></p></div>
<div><p><b>Air Pressure: {{ post.pressure }}</b></p></div>
<div><p><b>Humidity: {{ post.humidity }}</b></p></div>
<div><p><b>Wind: {{ post.wind }}</b></p></div>
<div><p><b>Visibility: {{ post.visibility }}</b></p></div>
<div><p><b>-</b></p></div>
{% endfor %}
{% endblock %}