{% extends "base.html" %}
{% block content %}
<h1>At A Glance</h1>
{% for post in posts %}
<table>
    <caption>{{ post.city }}</caption>
    <tr>
        <th>Outlook</th>
        <th>High / Low</th>
        <th>cTemp</th>
        <th>Air Pressure</th>
        <th>Humidity</th>
        <th>Wind</th>
        <th>Visibility</th>
    </tr>
    <tr>
        <td>{{ post.overall }}</td>
        <td>{{ post.high_low }}</td>
        <td>{{ post.temp }}</td>
        <td>{{ post.pressure }}</td>
        <td>{{ post.humidity }}</td>
        <td>{{ post.wind }}</td>
        <td>{{ post.visibility }}</td>
    </tr>
</table>
<div><p><b>-</b></p></div>
{% endfor %}
{% endblock %}